
/* *{
    padding: 0px;
    margin: 0px;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: #fcfcfc;
    font-family: sans-serif;
    height: auto;
    background-size: cover;
    
    
} */

/* Design Nav Bar */
nav{
    background: linear-gradient(to bottom, #0055a4, #003580);
    height: 80px;
    width: 100%;
    position: relative;
    margin-bottom:0px;
}
label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 30px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
}

.nav-ul-active,
a:hover{
    color: black;
    background: white;
    transition: .5s;
}
.menu-btn{
    font-size: 35px;
    color: white;
    float: left;
    line-height: 80px;
    margin-left: 25px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}


  @media (max-width: 900px){
      label.logo{
          font-size: 22px;
      }
    .menu-btn{
        display: block;
    }
    nav{
        /* background: black; */
        background: linear-gradient(to bottom, #0055a4, #003580);
        z-index: 10000;
        
    }

    ul{
         position: fixed;  
        top: 75px;
        left: -100%;
        background: linear-gradient(to bottom, #0055a4, #003580);
        height: 500px;
        width: 70%;
        border-radius: 0px 10px;
        display: block;
        text-align: center;
        transition: all .5s;
        margin-bottom: 20px;

    }
    nav ul li{
        margin: 0px 0px;
        display: block;
    }

    nav ul li a{
        font-size: 20px;
        display: block;
    }
    a.active, a:hover{
        color: white;
        background: none;
    }
    #click:checked ~ ul{
        left: 0;
    }
} 


@media(max-width: 900px){
    
    .wrapper{
        flex-direction: column-reverse;
    }
    .lft-col{
        width: 100%;
        min-width: 100%;
        padding: 40px;
    }
    .rgt-box{
        width: 100%;
        min-width: 100%;
    }
    .play{
        width: 100%;
        text-align: center;
        margin-right: 50px;
        margin-bottom: 20px;
        
    
       }
    }


/* fix top on the nav bar */
.fixed-nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background:linear-gradient(to bottom, #0055a4, #003580); 
    z-index: 100; 
  }



.popup-container {
    margin-top: 90px;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    justify-content: center;
    align-items: center;
    z-index: 99999; 
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: left;
    position: relative;
    margin: 0 auto; 
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

/* Mobile view styles */
@media (max-width: 768px) {
    .popup-content {
        max-width: 90%;
        max-height: 500px;
        overflow-y: scroll; 
        font-size: 14px;
    }
}

/* Desktop view styles */
@media (min-width: 769px) {
    .popup-content {
        max-width: 700px; 
    }
}

.popup-content h2{
    align-items: center;
    text-align: center;
    color: #003580;
}

.instruct p {
    display: inline-block;
    margin: 0;
    font-size: 20px;
    margin-bottom: 5px;
}

.instruct p span{
    font-weight: bold;
    color: rebeccapurple;
}



